/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.linkedIn {
    -fx-font-size: 24px;
    -fx-font-family: FontAwesome;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
